html,body,main{
    height: 100%;
}



.calculatorHeader{
    height: 36px;
    background-color: rgb(184, 174, 174);
    width: 100%;
    border-radius: 3px 3px 0px 0px;
}

.mybuttons{
    border: none;
    width: 50px;
    border-radius: none ;
}

.screen{
    border: none;
    padding: 50px 30px;
    outline: none;
    text-align: right;
}

.teclado{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: minmax(120px, auto) repeat(4, 10pxpx);
}

.teclado button{
    font-size: x-large;
    border-radius: 0;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: none;
}